/* 상품페이지 */

/* ============================= 상품페이지시작 */
#product {
    margin: 0 auto;
    padding: 0 83px 0 83px;
    background: linear-gradient(180deg, #ffffff 0%, #ddf1ff 30%, #ffffff 100%);
}
.product_wrap { 
    display: flex;
    gap: 49px;
}
.product_left {
    width: 1100px;
    background-color: pink;
}
.product_photo {
    display: flex;
    justify-content: center;
}
.product_prv {
    display: flex; gap: 15px;
    justify-content: center;
    margin-bottom: 100px; 
}

/* ---------------------------- 다른용량구성 */
.volume {
    padding: 20px 0 60px;
}
.volume_title {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.volume_wrap {
    display: flex;
    gap: 20px;
}
.volume_pd {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-gray);
    border-radius: 15px;
}
.volume_wrap .active {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-point-light);
    border-radius: 15px;
    background-color: rgba(22, 182, 94, 0.1);
}
.volume_pd > p:first-child {
    width: 87px; height: 90px;
}
.volume_pd .v_title {
    font-size: 0.875rem;
}
.volume_pd .v_price_wrap {
    display: flex;
    align-items: center; 
    gap: 6px;
}
.volume_pd .v_price {
    font-size: 1.25rem;
}
.volume_pd .v_old_price{
    font-size: 0.813rem;
    color: var(--color-gray);
}
/* ------------------------------- 오른쪽 설명고정 섹션 */
.product_right {
    position: sticky;
    top: 160px;
    width: 605px;
    height: fit-content;
    align-self: flex-start;
    padding-bottom: 100px;
}
.product_right .product_info {
    display: flex;
    flex-flow: column nowrap;
    gap: 35px;
}
.product_right .product_info h1 {
    font-size: 2.188rem;/* 35 */
    margin-bottom: 15px;
}
.product_right .product_info .des {
    font-size: 1.125rem;/* 18 */
    display: flex; align-items: center; justify-content: space-between;
}
.product_right .product_info p .share {}
/* 리뷰, 가격 */
.product_right .product_info .review_price {}
.product_right .product_info .review_price .review_wrap {
}
.product_right .product_info .review_price .review_wrap .star {
    display: flex; align-self: center; gap: 5px;
    font-size: 0.875rem;/* 14 */
    margin-bottom: 15px;
}
.product_right .product_info .review_price .review_wrap .product_price {
    display: flex; gap: 10px;
    align-items: center;
    margin-bottom: 35px;
}
.product_right .product_info .review_price .review_wrap .product_price .price {
    font-size: 1.438rem;
    font-weight: 600;
}
.product_right .product_info .review_price .review_wrap .product_price .old_price {
    color: var(--color-gray);
}
/* ----------------------------------- 베네핏 섹션 */
.product_right .product_info .review_price .benefit {
    padding: 20px;
    display: flex; flex-flow: column nowrap;
    gap: 15px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
.product_right .product_info .review_price .benefit > div {
    display: flex; gap: 10px;
    align-items: center;
    font-size: 0.813rem;
}
.product_right .product_info .review_price .benefit dt {
    width: 80px;
    flex-shrink: 0;
}
.product_right .product_info .review_price .benefit dd {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0;
}
.product_right .product_info .review_price .benefit dd span {}
/* ---------------------------------------------------- 상품선택 최종금액 */
.select {
    display: flex; flex-flow: column;
    gap: 15px;

}
.select .select_num {

    display: flex; align-items: center; justify-content: space-between;
}
.select .select_num .plus_minus {}
.select .select_num .plus_minus p {
    display: flex; align-items: center;
}
.select .select_num .plus_minus p {}
.select .select_price {
    display: flex; justify-content: space-between;
}
.select .select_price p {}
.select .select_price .select_last_price {}
.select .select_price .select_last_price span {}
/* -------------------- 버튼 그룹 */
.buy_btn_wrap {}
.buy_btn_wrap .heart_btn {}
.buy_btn_wrap #cart_btn {}
.buy_btn_wrap #buy_btn {}